* {
    font-size: 100%;
    margin-top: 0%;
    /*border: 1px solid red;*/
    border: 1px;
    line-height: 2;
    box-sizing: content-box;
    border-color: darkgreen;
}

header {
    border-bottom: 5px solid green;
}

h1 {
    font-size: 900;
    color:darkgreen
}

h2 {
    font-size: 500;
    color:darkgreen
}

li {
    font-size: normal;
    color: darkolivegreen;
    font-style: italic;
}

h4 {
    font-size: lighter;
    color:darkolivegreen
}

p {
    font-size:18px;
    color:darkgreen
}

body {
    background-color:lightgray
}

h1 {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: bold;
    margin: 30px 0;

}

h4 {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    line-height: 2;
}

p {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
}

footer {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: left;
}

p {
    line-height: 2;
    text-align: left;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

section li {
    color: darkolivegreen;
    text-decoration:underline
}
a {
    text-decoration: none;
    color: darkolivegreen;

}

section h2 {
    text-decoration:underline;
}

header,
section,
footer {
    padding: 20px;
    border-bottom: 5px solid black;
    border-right: 0px;
}

h1 {
    border-bottom: 1px solid black;
}

section {
    border: 1px dashed rgb(0, 255, 94);
    background-color: white;
    margin-right: 800px;
}

ul, ol {
    margin: 10px px;
    line-height: 1;
    list-style: none;
    margin: 15px 0;
}

h2 {
    font-weight: 900;
}

p {
    font-weight: 700;
}

head {
    font-weight: bold;
}

footer {
    list-style: none;
    text-align: left;
    line-height: 5px;
    
}

a {
    font-weight: bold;
    background-color: white;
    font-size: 18px;
    text-align: left;
}

a:hover {
  text-decoration: underline;
}

a:active {
    text-decoration: dotted;
    color: limegreen;
}

.title {
    font-size: 36px;
    text-decoration: underline;
}
#click {
    background-color: wheat;
    color: darkgreen;
}