* {
    font-size: 100%;
    margin-top: 0px;
    /*border: 1px solid red;*/
    border: 100px;
    line-height: 2;
    box-sizing:border-box;
    border-color: darkgreen;
}

header {
    border-bottom: 5px solid green;
}

h1 {
    font-size: 1000;
    color:whitesmoke
}

h2 {
    font-size: 500;
    color:white;
}

li {
    font-size: normal;
    color: whitesmoke;
    font-style: italic;
}

h4 {
    font-size: lighter;
    color:whitesmoke;
}

p {
    font-size:18px;
    color:whitesmoke;
}

body {
    background-image: url(images/prism.png);
}

h1 {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: bold;
    margin: 30px 0;

}

h4 {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    line-height: 2;
}

p {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
}

footer {
    font-family: 'Instrument Serif', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: left;
}

p {
    line-height: 2;
    text-align: left;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

section li {
    color: white;
    text-decoration:underline
}
a {
    text-decoration: none;
    color: black;

}

section h2 {
    text-decoration:underline;
}

header,
section,
footer {
    padding: 20px;
    border-bottom: 5px solid black;
    border-right: 0px;
}

h1 {
    border-bottom: 1px solid white;
}

section {
    border: 1px dashed white;
    background-image: url(images/bellabella.jpg);
    margin-right: 800px;
    margin-left: 100px;
    margin-top: 100px;
    background-repeat: no-repeat;
    max-width: fit-content;
    background-position: auto center;
}

ul, ol {
    margin: 10px;
    line-height: 1;
    list-style: none;
    margin: 15px 0;
}

h2 {
    font-weight: 900;
}

p {
    font-weight: 700;
}

head {
    font-weight: bold;
}

footer {
    list-style: none;
    text-align: left;
    line-height: 5px;
    
}

a {
    font-weight: bold;
    background-color: white;
    font-size: 18px;
    text-align: left;
}

a:hover {
  text-decoration: underline;
}

a:active {
    text-decoration: dotted;
    color: limegreen;
}

.title {
    font-size: 36px;
    text-decoration: underline;
}

.banner {
    height: 350px;
    background-image: url(images/bellabella.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    background-image: url(images/otis_redding.webp);
    background-size: cover;
}

.banner {
    background-position: center;
}

.photo {
    background-position: center;
}

.icon {
    background-position: 0 100px;
}